<md-bottom-sheet class="md-list md-has-header">
    <div ng-show="!ShowExportOption">
        <md-subheader ng-cloak>Comment Actions: {{selected_project.title}}</md-subheader>
        <md-list ng-cloak>
            <md-list-item ng-class="{'disabled':selected_project.mode<2}" ng-cloak>
                <div 
                    ng-tap="run_action('edit')"
                    class="md-list-item-content btn-block" >
                    <span class="icon-note"></span> <span class="md-inline-list-icon-label">Edit</span>
                </div>
            </md-list-item>
            <!--
            <md-list-item>
                <div
                    ng-tap="show_export_option()"
                    class="md-list-item-content btn-block" >
                <span class="icon-book-open"></span> <span class="md-inline-list-icon-label">Export</span>
                </div>
            </md-list-item>
            -->
            <md-divider></md-divider>
            <md-list-item ng-class="{'disabled':selected_project.mode<2}">
                <div
                    ng-tap="run_action('share')"
                    class="md-list-item-content btn-block" >
                    <span class="icon-share"></span> <span class="md-inline-list-icon-label">Share</span>
                </div>
            </md-list-item>
            <md-list-item >
                <div ng-tap="run_action('send')"
                    class="md-list-item-content btn-block" >
                    <span class="icon-envelope-letter"></span> <span class="md-inline-list-icon-label">Email</span>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-class="{'disabled':selected_project.mode<2}">
                <div ng-tap="run_action('delete')"
                    class="md-list-item-content btn-block" >
                    <span class="icon-trash"></span> <span class="md-inline-list-icon-label">Delete</span>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div ng-show="ShowExportOption">
        <md-subheader  ng-cloak>Export & Download: {{selected_project.title}}</md-subheader>
        <md-input-container class="md-block">
            <div>
                <md-checkbox name="all_user" ng-model="export_option.all_user">
                    All Users
                </md-checkbox>
            </div>
            <div>
                <md-checkbox name="all_comment" ng-model="export_option.all_comment">
                    All Comments
                </md-checkbox>
            </div>
            <div layout="row" class="text-center">
                <div flex="50">
                    <md-button 
                        md-no-ink 
                        class="btn-block"
                        type="button"
                        ng-tap="cancel()"
                        >Cancel</md-button>
                </div>

                <div flex="50">
                    <md-button 
                        md-no-ink 
                        class="md-primary btn-block" 
                        ng-tap="run_action('export')"
                        type="button">Download</md-button>
                </div>
            </div>
        </md-input-container>
    </div>
</md-bottom-sheet>