<div ui-content-for="navbarTop">
    <div class="navbar navbar-head navbar-absolute-top home-navbar">
        <div class="navbar-brand navbar-brand-center">
            &nbsp;
        </div>
        <div class="btn-group pull-left">
            <div class="btn logo-navbar-btn">
                <img class="" src="img/logo.png">
            </div>
        </div>
        <div class="btn-group pull-right" ui-yield-to="navbarAction">
            <div class="btn" ng-tap="doLogout()">
                <img src="img/sign-out.png">
            </div>
        </div>
    </div>
</div>

<!-- <div ui-content-for="navbarBottom">
    <div class="navbar navbar-app navbar-bottom" >
        <div class="btn-group justified">
            <span ui-turn-on="modalAddProject" class="btn btn-navbar">&copy; 2017 90&deg; Ready</span>
            <a href="#/info" class="btn btn-navbar">Teams & Conditions</a>
        </div>
    </div>
</div> -->

<div ui-content-for="modals">
  <div ng-include="'template/add-project.html'"></div>
</div>
