<div ui-content-for="navbarTop">
    <div class="navbar navbar-head navbar-absolute-top black-navbar-head">
        <div class="navbar-brand navbar-brand-center">
            HOME
        </div>
        <div class="btn-group pull-left">
            <div class="btn" ng-click="goBack()">
                <img class="" src="img/back.png">
            </div>
        </div>
        <div class="btn-group pull-right">
            <a href="#/app-info/43" class="btn">
                <img class="" src="img/book-black.png">
            </a>
            <a href="#/" class="btn">
                <img class="" src="img/home-black.png">
            </a>
        </div>
    </div>
</div>

<div class="scrollable viewer white-bg" ng-class="">
    <div class="scrollable-content" ng-cloak>
        <md-content layout-padding>
            <div class="h3-tit">SEND YOUR PROJECT</div>
            <form name="sendForm" id="sendForm" ng-submit="doSend()" autocomplete="off">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input 
                        required md-no-asterisk 
                        name="email" type="text" 
                        minlength="10" 
                        maxlength="100" 
                        ng-pattern="/^.+@.+\..+$/" 
                        ng-model="send_info.email">
                    <div ng-messages="sendForm.email.$error" role="alert" 
                        >
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" >
                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>

                
                
                <div style="width:90px;margin:auto;text-align:center">
                <div  layout="column">
                    <md-button 
                        style="width:90px;margin:auto;text-align:center"
                        class="btn-circle md-btn-danger" 
                        type="submit"><span class="icon-paper-plane"></span> SEND</md-button>
                    
                </div>
                </div>
            </form>
        </md-content>
        
    </div>
</div>
