<div ui-content-for="navbar">
    <div class="navbar navbar-app navbar-absolute-top" >
        <div class="navbar-brand navbar-brand-center">{{project_info?'Edit':'Add'}} project</div>
        <div class="btn-group pull-left">
          <div ng-tap="goBack()" class="btn ico-back">
          </div>
        </div>
    </div>
</div>
<div class="scrollable add-project-page">
  <div class="scrollable-content">
    <div class="authentication-form project-form">
        <div class="title sf-bold">{{project_info?'Edit your project':'Your new project'}}</div>
        <form name="projectFrm" ng-submit="doCreateProject(projectFrm.$valid)" novalidate autocomplete="off">
          <div class="form-control mb-1"
            ng-class="{ 
            }"
            >
            <select 
                type="input" 
                name="category" 
                class="form-input" 
                ng-model="form_data.category_id"
                required
                autocomplete="off" 
                >
              <option value="1">App</option>
              <option value="2">Software</option>
              <option value="3">Hardware</option>
              <option value="4">Product</option>
              <option value="5">Service</option>
              <option value="6">Other</option>
            </select>
            <label>Category</label>
            <span class="">{{cateories[form_data.category_id]}}</span>
          </div>
          <div class="form-control mb-1" 
            ng-class="{ 
            }" >
            <input 
              type="text" 
              name="title" 
              class="form-input" 
              ng-model="form_data.title"
              required
              autocomplete="off" 
              ng-maxlength="20"
              >
            <label>Title</label>
            <span class="count">{{form_data.title.length}}/20</span>
          </div>
          <div class="form-control mb-1" 
            ng-class="{ 
            }" >
            <textarea
              type="input" 
              name="desc" 
              class="form-input" 
              ng-model="form_data.desc"
              required
              autocomplete="off"
              autogrow
              max-lines="2"
              ng-maxlength="100"
              ></textarea>
            <label>Description</label>
            <span class="count">{{form_data.desc.length}}/100</span>
          </div>
          <button class="btn btn-default btn-circle btn-block" type="submit">Finish</button>
        </form>
    </div>
  </div>
</div>