
<div ui-content-for="navbarTop">
    <div class="navbar navbar-head navbar-absolute-top black-navbar-head">
        <div class="navbar-brand navbar-brand-center has-right-navbar-btn">
            <span>{{content.title}}</span>
        </div>
        <div class="btn-group pull-left">
            <div class="btn" ng-click="goBack()">
                <img class="" src="img/back.png">
            </div>
        </div>
    </div>
</div>
<div class="scrollable viewer white-bg" ng-class="">
    <div class="scrollable-content " ng-cloak id="myScrollableContent">
        <div class="sharktank-logo2"></div>
        <div ng-bind-html="content.content" class="ckeditor" style="padding-bottom: 20px"></div>
        <div style="text-align: center;padding-bottom: 20px" ng-if="content.id !=48">
            <a ng-tap="show_terms()" ui-turn-on="IsShowTerms" style="color:#45c4d5;font-weight: 500;text-align: center;"  >
                Terms and Conditions
            </a>
            
            <a href="#/app-info/48" style="margin-top: 10px;color:#45c4d5;font-weight: 500;text-align: center;">Privacy Policy</a>
        </div>
    </div>
</div>