
<div ui-content-for="navbar">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">{{content.title}}</div>
        <div class="btn-group pull-left">
            <a class="btn ico-back-gray" ng-tap="goBack()">
            </a>
        </div>
    </div>
</div>
<div class="scrollable gray-bg">
    <div class="scrollable-content padding-20">
        <div class="white-bg min-box-height">
            <div class="logo-blue"></div>
            <div class="ckeditor">
                <div ng-bind-html="content.content"></div>
            </div>
        </div>
    </div>
</div>