<div ui-content-for="navbar">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">Account</div>
        <div class="btn-group pull-left">
            <a class="btn ico-back-gray" ng-tap="goBack()">
            </a>
        </div>
        <div class="btn-group pull-right">
            <a class="btn ico-info-default" ng-tap-href="#/info/48">
            </a>
        </div>
    </div>
</div>
<div class="scrollable gray-bg share-page">
    <div class="scrollable-content padding-100">
        <div class="-white-bg ">
            <h2 class="page-title sf-bold">Hello {{user_info.username}}</h2>
            <div class="share-form mt-4">
                <form name="shareFrm" ng-submit="doShare(shareFrm.$valid)" novalidate autocomplete="off">
                  
                  <div class="form-control mb-2" >
                    <div class="form-input">{{user_info.email}}</div>
                    <label>your email</label>
                  </div>
                  <div class="form-control mb-2" >
                    <div class="form-input">{{user_info.data.iam}}</div>
                    <label>you are</label>
                  </div>
                  <div class="form-control mb-2" >
                    <div class="form-input">{{user_info.since | date  : 'longDate'}}</div>
                    <label>member since</label>
                  </div>
                  <div class="actions">
                    <div>
                      <a class="edit-action" ng-tap-href="#/profile/update"></a>
                    </div>
                    <div>
                      <a class="password-action" ng-tap-href="#/profile/update-password"></a>
                    </div>
                    <div>
                      <span class="logout-action" ng-tap="doLogout()"></span>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>