<div ui-content-for="navbar">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">Edit profile</div>
        <div class="btn-group pull-left">
            <a class="btn ico-back-gray" ng-tap="goBack()">
            </a>
        </div>
    </div>
</div>
<div class="scrollable gray-bg share-page">
    <div class="scrollable-content padding-100">
        <div class="-white-bg ">
            <h2 class="page-title sf-bold">Hello {{user_info.username}}</h2>
            <div class="share-form mt-4">
                <form name="updatePasswordFrm" ng-submit="doUpdatePassword(updatePasswordFrm.$valid)" novalidate autocomplete="off">
                  
                  <div class="form-control mb-1" >
                    <input 
                      type="password" 
                      name="password" 
                      class="form-input" 
                      ng-model="update_password_data.password"
                      required
                      autocomplete="off" 
                      >
                    <label>new password</label>
                  </div>
                  <div class="form-control mb-4" >
                    <input 
                      type="password" 
                      name="password" 
                      class="form-input" 
                      ng-model="update_password_data.confirm_password"
                      required
                      autocomplete="off" 
                      >
                    <label>confirm new password</label>
                  </div>
                  <button class="btn btn-primary btn-circle btn-block" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>