<div ui-content-for="navbar">
    <div class="navbar navbar-app navbar-absolute-top" >
        <div class="navbar-brand navbar-brand-center">Create new account</div>
        <div class="btn-group pull-left">
          <div ng-tap="goBack()" class="btn ico-back">
          </div>
        </div>
    </div>
</div>
<div class="scrollable register-page">
  <div class="scrollable-content">
    <div class="authentication-form register-form">
        <div class="title sf-bold">Hello</div>
        <form name="registerFrm" ng-submit="doRegister(registerFrm.$valid)" novalidate autocomplete="off">
          <div class="form-control mb-1" 
            ng-class="{ 
            }" >
            <input 
              type="email" 
              name="username" 
              class="form-input" 
              ng-model="reg_data.email"
              required
              autocomplete="off" 
              >
            <label>email</label>
          </div>
          <div class="form-control mb-1" 
            ng-class="{ 
            }" >
            <input 
              type="input" 
              name="username" 
              class="form-input" 
              ng-model="reg_data.username"
              required
              autocomplete="off" 
              >
            <label>username</label>
          </div>
          <div class="form-control mb-1" 
            ng-class="{ 
            }" >
            <input 
              type="password" 
              name="username" 
              class="form-input" 
              ng-model="reg_data.password"
              required
              autocomplete="off" 
              >
            <label>password</label>
          </div>
          <div class="form-control mb-1"
            ng-class="{ 
            }"
            >
            <select 
                type="input" 
                name="username" 
                class="form-input" 
                ng-model="reg_data.iam"
                required
                autocomplete="off" 
                >
              <option value="an entrepreneur">an entrepreneur</option>
              <option value="a start-up">a start-up</option>
              <option value="an investor">an investor</option>
              <option value="other">other</option>
            </select>
            <label>you are ?</label>
            <span class="">{{reg_data.iam}}</span>
          </div>
          <div class="form-group white-switch text-center mb-1">
            <ui-switch ng-model="reg_data.accept"></ui-switch> <span>Agree to our <a ng-tap="terms()">Terms & Conditions</a></span>
          </div>
          <button class="btn btn-default btn-circle btn-block" type="submit">Sign up</button>
        </form>
    </div>
    <a class="copyright txt-muted" ng-tap-href="#/login">Already did this? Login now!</a>
  </div>
</div>