<div ui-content-for="navbar">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">Share project</div>
        <div class="btn-group pull-left">
            <a class="btn ico-back-gray" ng-tap="goBack()">
            </a>
        </div>
    </div>
</div>
<div class="scrollable gray-bg share-page">
    <div class="scrollable-content padding-100">
        <div class="-white-bg ">
            <h2 class="page-title sf-heavy">Send it with<br/>the world</h2>
            <div class="share-form">
                <p>Enter email bellow</p>
                <form name="shareFrm" ng-submit="doSend(shareFrm.$valid)" novalidate autocomplete="off">
                  
                  <div class="form-control mb-1" 
                    ng-class="{ 
                    }" >
                    <input 
                      type="email" 
                      name="title" 
                      class="form-input" 
                      ng-model="send_info.email"
                      required
                      autocomplete="off" 
                      ng-maxlength="100"
                      >
                    <label>Email</label>
                    <!-- <span class="count">{{form_data.title.length}}/50</span> -->
                  </div>
                  
                  
                  <button class="btn btn-primary btn-circle btn-block" type="submit">Finish</button>
                </form>
            </div>
        </div>
    </div>
</div>