<div ui-content-for="navbar">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center">Share project</div>
        <div class="btn-group pull-left">
            <a class="btn ico-back-gray" ng-tap="goBack()">
            </a>
        </div>
    </div>
</div>
<div class="scrollable gray-bg share-page">
    <div class="scrollable-content padding-100">
        <div class="-white-bg ">
            <h2 class="page-title sf-heavy">Share with friends</h2>
            <div class="share-form">
                <p>Enter email bellow</p>
                <form name="shareFrm" ng-submit="doShare(shareFrm.$valid)" novalidate autocomplete="off">
                  
                  <div class="form-control mb-1" 
                    ng-class="{ 
                    }" >
                    <input 
                      type="email" 
                      name="title" 
                      class="form-input" 
                      ng-model="form_data.email"
                      required
                      autocomplete="off" 
                      ng-maxlength="100"
                      >
                    <label>Email</label>
                    <!-- <span class="count">{{form_data.title.length}}/50</span> -->
                  </div>
                  <p>Select how you would like your friends to engage with the project</p>
                  <div class="action-view-edit">
                    <div class="view" ng-class="{'active':form_data.mode==0}">
                      <div ng-tap="form_data.mode = 0">
                        
                        <span>view</span>
                      </div>
                    </div>
                    <div class="edit" ng-class="{'active':form_data.mode==1}">
                      <div ng-tap="form_data.mode = 1">
                        <span>edit</span>
                        
                      </div>
                    </div>
                  </div>
                  
                  <button class="btn btn-primary btn-circle btn-block" type="submit">Finish</button>
                </form>
            </div>
        </div>
    </div>
</div>