<div class="modal modal-overlay auto-modal auth-bg" ui-if="IsShowLogin" ui-shared-state='IsShowLogin'>
    <div class="scrollable">
        <div class="scrollable-content">
            <!-- <div ng-scrollbars style="width:100%;height:100%"> -->
                <div class="aligner" >
                    <div class="aligner-item"> 
                        <md-content layout-padding>
                            <form name="loginForm" id="loginForm" ng-submit='doAuthLogin()' autocomplete="off">
                                <div class="login-logo"></div>
                                <div class="login-space"></div>
                                <md-input-container class="md-block">
                                    <label>Username</label>
                                    <input 
                                        required md-no-asterisk 
                                        name="username" 
                                        ng-model="auth_singin_info.username">
                                    <!-- <div ng-messages="loginForm.username.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-maxlength">The username must be less than 30 characters long.</div>
                                    </div> -->
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Password</label>
                                    <input 
                                        type="password" 
                                        required md-no-asterisk 
                                        name="password" 
                                        ng-model="auth_singin_info.password">
                                    <!-- <div ng-messages="loginForm.password.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-maxlength">The pasword must be less than 30 characters long.</div>
                                    </div> -->
                                </md-input-container>
                                <div  layout="column">
                                    <md-button  class="btn-block btn-risk-submit" type="submit">Submit</md-button>
                                </div>

                                <p style="width: 100%; text-align: center;padding-top:40px;">
                                Don't have account? <a style="color:#fff;padding:6px 7px;font-weight:bold;" ng-tap="show_register()" ui-turn-on="IsShowRegister" ui-turn-off="IsShowLogin">Register Now!</a>
                                </p>
                            </form>
                        </md-content>
                        <div class="keyboard" style="height:{{keyboard_height}}px;"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>