<div ui-content-for="navbarTop">
    <div class="navbar navbar-head navbar-absolute-top black-navbar-head">
        <div class="navbar-brand navbar-brand-center">
            <span>CHANGE PASSWORD</span>
        </div>
        <div class="btn-group pull-left">
            <div class="btn" ng-click="goBack()">
                <img class="" src="img/back.png">
            </div>
        </div>
    </div>
</div>
<div class="scrollable viewer white-bg" ng-class="__path=='/'?'actived':''">
    <div class="scrollable-content profile-info profile-edit hide-required">
        <div>
          <div>
                <div ng-cloak>
                    <md-content layout-padding>
                        <form 
                            name="changepasswordForm" 
                            id="changepasswordForm" 
                            ng-submit="doUpdatePassword()" 
                            autocomplete="off"
                            >
                            <div>
                                <md-input-container class="md-block">
                                    <label>New password</label>
                                    <input 
                                        type="password" 
                                        required 
                                        name="new_password"
                                        maxlength="30"
                                        ng-model="new_password">
                                    <div ng-messages="changepasswordForm.new_password.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-maxlength">The name must be less than 20 characters long.</div>
                                    </div>
                                </md-input-container>

                                
                                <md-input-container class="md-block">
                                    <label>Confirm new password</label>
                                    <input 
                                        type="password" 
                                        required 
                                        name="confirm_new_password"
                                        maxlength="30"
                                        ng-model="confirm_new_password">
                                    <div ng-messages="changepasswordForm.confirm_new_password.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-maxlength">The name must be less than 20 characters long.</div>
                                    </div>
                                </md-input-container>

                                
                                <div  layout="column">
                                    <md-button  class="btn-circle md-btn-danger" type="submit">Submit</md-button>
                                </div>

                            </div>
                        </form>
                    </md-content>
                    <div class="keyboard" style="height:{{keyboard_height}}px;"></div>
                </div> 
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
