<div ui-content-for="navbarTop">
    <div class="navbar navbar-head navbar-absolute-top black-navbar-head">
        <div class="navbar-brand navbar-brand-center">
            <span ng-show="category_info.level == 0">HOME</span>
            <span ng-show="category_info.level == 1">{{projectData.title}}</span>
            <span ng-show="category_info.level > 1">{{category_info.parent.title}}</span>
        </div>
        <div class="btn-group pull-left">
            <div class="btn" ng-click="goBack()">
                <img class="" src="img/back.png">
            </div>
        </div>
        <div class="btn-group pull-right">
            <a href="#/app-info/46/{{category_info.id}}" class="btn">
                <img class="" src="img/book-black.png">
            </a>
            <a href="#/" class="btn">
                <img class="" src="img/home-black.png">
            </a>
        </div>
    </div>
</div>

<div class="scrollable viewer" ng-class="">
    <div class="scrollable-content">
        <div class="head-title">
            {{category_info.title||projectData.title}}
            <span ng-tap="view_chart(category_info)" class="graph-icon head-icon"></span>
        </div>
        <div class="list-group">
            <!--
            <div class="list-group-item text-justify project-desc" 
                style="min-height: {{desc_height}}px;">
                <p >{{category_info.desc||projectData.desc}}</p>
            </div>
            -->
            <a 
                ng-repeat="(i,foo) in category_info.items"
                class="list-group-item list-group-item-risk" 
                ng-tap="go(foo)" 
                style="background-color: {{foo.color()}};"
                >
                <span class="num">{{i+1}}</span>
                <span 
                    class="process-bar" style="width:{{foo.process*100}}%"
                    ng-class="{'finished':foo.process>=1}"
                    ></span>
                <div class="" style="line-height: {{item_line_height}}px;padding-top: {{item_padding}}px;padding-bottom: {{item_padding}}px;">
                    {{foo.title}}
                </div>
            </a>
        </div>
    </div>
</div>
