<div ui-content-for="navbarTop">
    <div class="navbar navbar-head navbar-absolute-top black-navbar-head">
        <div class="navbar-brand navbar-brand-center">
            <span ng-show="category_info.level == 0">HOME</span>
            <span ng-show="category_info.level == 1">{{projectData.title}}</span>
            <span ng-show="category_info.level > 1">{{category_info.parent.title}}</span>
        </div>
        <div class="btn-group pull-left">
            <div class="btn" ng-click="goBack()">
                <img class="" src="img/back.png">
            </div>
        </div>
        <div class="btn-group pull-right">
            <a href="#/app-info/46/{{category_info.id}}" class="btn">
                <img class="" src="img/book-black.png">
            </a>
            <a href="#/" class="btn">
                <img class="" src="img/home-black.png">
            </a>
        </div>
    </div>
</div>

<div class="scrollable viewer" ng-class="">
    <div class="scrollable-content">
        <div class="head-title">
            {{category_info.title||projectData.title}}
            <!-- <span ng-tap="goBack()" class="close-icon head-icon"></span> -->
        </div>
        <div class="list-group ">
            <!--
            <div class="list-group-item text-justify project-desc">
                <p >{{category_info.desc||projectData.desc}}</p>
            </div>
            -->
            <div class="graph-box">
                <div class="list-group">
                  <div class="the-question" ng-repeat="(i,foo) in category_info.questions">
                    <div class="question-name">
                        <span class="question-number">{{i + 1}}</span>
                        {{foo.title}}
                    </div>
                    <div class="question">
                        <div class="question-content">{{foo.question}}</div>
                        <div class="answers">

                            <md-radio-group ng-model="foo.answered[0]" class="button-radio" ng-change="answer_the_question(foo)">
                                <div >
                                    <div ng-repeat="(i,ans) in foo.answers" class="">
                                        <md-radio-button  value="{{i}}" class="md-danger">{{ans.title}}</md-radio-button>
                                    </div>
                                </div>
                            </md-radio-group>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="finish-btn" ng-click="view_chart(category_info)">
                <span>FINISH</span>
            </div>
        </div>
    </div>
</div>