<div ui-content-for="navbarTop">
    <div class="navbar navbar-head navbar-absolute-top black-navbar-head">
        <div class="navbar-brand navbar-brand-center">
            <span>{{projectData.title}}</span>
        </div>
        <div class="btn-group pull-left">
            <div class="btn" ng-click="goBack()">
                <img class="" src="img/back.png">
            </div>
        </div>
        <div class="btn-group pull-right">
            <a href="#/app-info/46" class="btn">
                <img class="" src="img/book-black.png">
            </a>
            <a href="#/" class="btn">
                <img class="" src="img/home-black.png">
            </a>
        </div>
    </div>
</div>

<div class="scrollable viewer white-bg" ng-class="">
    <div class="scrollable-content" ng-cloak>
        <md-content layout-padding>
            <div class="h3-tit">SHARE YOUR PROJECT</div>
            <form name="shareForm" id="shareForm" ng-submit="doShare()" autocomplete="off">
                <md-input-container class="md-block gray-input">
                    <label>Email</label>
                    <input 
                        required md-no-asterisk 
                        name="email" type="email" 
                        minlength="10" 
                        maxlength="100" 
                        ng-pattern="/^.+@.+\..+$/" 
                        ng-model="share_info.email">
                    <div ng-messages="shareForm.email.$error" role="alert" 
                        >
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" >
                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
                <div style="max-width:200px;margin:auto">
                    <md-radio-group ng-model="share_info.mode">
                        <div layout="row">
                            <div flex="50">
                                <md-radio-button  value="0" class="md-danger">View</md-radio-button>
                            </div>
                            <div flex="50">
                                <md-radio-button  value="1" class="md-danger">Edit</md-radio-button>
                            </div>
                        </div>
                    </md-radio-group>
                </div>
                <div  layout="column">
                    <md-button  
                        class=" btn-circle md-btn-danger" 
                        type="submit"><span class="icon-share"></span> Share</md-button>
                    
                </div>
            </form>
        </md-content>
        <md-list flex class="shared-list" style="padding:0">
            
            <md-list-item  ng-repeat="foo in shareds">
                <md-icon ng-click="doUnShare(foo)"> <i class="icon-close"></i></md-icon>
                <p> {{ foo.email }} </p>
                <md-button  
                    class="md-secondary" 
                    aria-label="Unsshared"
                    >
                    <span class="mode-{{foo.mode==1?'edit':'readonly'}}">{{foo.mode==1?'Edit':'View'}}</span>
                </md-button >
            </md-list-item>
        </md-list>
    </div>
</div>